.fc-toolbar-title {
    color: white;
}

.fc-header-toolbar {
    margin-bottom: 10px !important;
}

.fc-theme-standard th {
    border: 2px solid #0d0d0e !important;
}

.fc-theme-standard td {
    border-bottom: 1px solid #3c3c49 !important;
    border-left: 2px solid #202026 !important;
    border-right: 2px solid #202026 !important;
}

.fc-scrollgrid {
    border: none !important;
}

.fc-bg-event {
    opacity: revert !important;
}

.fc-scrollgrid-section > td {
    background: #b5b8c2;
}

th {
    background: #2d466c;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fc-timegrid-slot-label {
    background: #2d466c;
    color: #c6dcfd;
}

.fc-event-mirror {
    background: #0d6efd !important;
}



th a {
    color: #c6dcfd;
}

th a:hover {
    color: #009eff;
    text-decoration: none !important;
}
