.vimeo-profile-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.portfolio-section-header {
    margin-top: calc(2vw - 3 * (100vw - 3000px) / 1000);
    margin-bottom: calc(-50px + 2vw - 3 * (100vw - 3000px) / 1000);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.horizontal-line {
    width: calc((1/30) * (100vw - 1000px) + 30%);
    height: 1px;
    margin-top: -8px;
    background-color: white;
}

.portfolio-section-header h4 {
    color: white;
    font-size: calc((1/70) * (100vw - 1000px) + 20px);
    font-family: 'Noto Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

.calendar-container {
    height: calc(100vh - 68px);
    max-height: 686px;
    margin-top: -50px;
    margin-bottom: -50px;
}

@media only screen and (max-width: 768px) {
    .calendar-container {
        height: 79vh;
    }
    .fc-event-mirror {
        overflow: hidden;
    }
}