.photos-row {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
    background: #1a1a1e;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 500px) {
    .photos-row {
        margin-top: 40px;
    }
}

.photos-container {
    padding-top: calc(0.75vw * (100vw / 1000) * (1 - (1000 - 100vw) / 500));
    margin-bottom: -0.5vw;
    display: flex;
    gap: 1vw;
    overflow-x: auto;
    align-items: center;
    position: relative;
}

.photo-wrapper {
    width: calc(100% / 5);
    aspect-ratio: 4 / 3;
    flex-shrink: 0;
}

.photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}