*::-webkit-scrollbar {
    width: 0;
}

.ProfileBioContainer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-height: 430px;
}

.profile-entire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #1a1a1e;
    width: 80vw;
    height: 20vw;
    min-height: 300px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profile-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.profile-photoside {
    width: 33%;
    height: 100%;
    overflow: hidden;
    border-radius: 10%;
}

.profile-photo {
    max-width: 100%;
}

.profile-body {
    width: 67%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-titles h1 {
    color: #e3eaf5;
    font-family: "Cinzel", serif;
    margin: 0 0 -8px 0;
    padding-top: 15px;
}

.profile-titles h2 {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #dbe5f1;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

.fab,
.icons-divider,
.social-icons-container a[href^="mailto"] {
    color: white;
    font-size: 120%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

a[href^="tel"] {
    color: white;
}

.profile-titles h2:hover,
.fab:hover,
.icons-divider:hover,
a[href^="tel"]:hover,
.social-icons-container a[href^="mailto"]:hover {
    transition: color 0.5s ease;
    color: lightblue;
}

.list-unstyled {
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.profile-body-bottom-half {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 50%;
}

.profile-icons-container {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.profile-description-container {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.profile-description-container p {
    height: 100%;
    color: #dbe5f1;
    white-space: normal;
    word-wrap: break-word;
}

@media (max-width: 1200px) {
    .profile-inside {
        flex-direction: column;
    }

    .profile-photoside {
        height: 200px;
        width: 200px;
        overflow: hidden;
        border-radius: 0;
        margin-bottom: -35px;
    }

    .profile-picture-frame {
        margin-top: 20px;
        height: 200px;
    }

    .profile-photo {
        border-radius: 50% !important;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .profile-titles h1 {
        color: #e3eaf5;
        font-family: "Cinzel", serif;
        margin: 0 0 -8px 0;
        padding-top: 0px;
    }

    .profile-entire h2 {
        margin-bottom: -5px;
    }

    .profile-description-container {
        margin-left: 0 !important;
        width: 70vw !important;
    }
}

@media (max-width: 788px) {
    .profile-photoside {
        height: 100px;
        width: 100px;
        margin-bottom: -100px;
    }

    .profile-picture-frame {
        margin-top: 10px;
        height: 100px;
    }

    .profile-body-top-half {
        margin-top: 50px;
    }

}

@media (max-width: 500px) {
    .fab,
    .icons-divider,
    .social-icons-container a[href^="mailto"]{
        font-size: 90%;
    }

    a[href^="tel"] {
        font-size: 75%;
    }

    .profile-titles h2:hover,
    .fab:hover,
    .icons-divider:hover,
    a[href^="tel"]:hover,
    .social-icons-container a[href^="mailto"]:hover {
        color: lightblue;
    }
}

@media (max-width: 360px) {
    .profile-entire {
        min-height: 175px;
    }
    .profile-body-bottom-half {
        display: none;
    }

}