.cal-page {
    width: 100%;
    min-height: calc(100vh - 96px);
    padding-top: 96px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cal-wrapper {
    width: 90vw;
    max-width: 1400px;
}

@media (max-width: 768px) {
    .cal-page {
        padding-top: 60px;
        align-items: flex-start;
    }

    .cal-wrapper {
        width: 80vw;
    }
}

.cal-wrapper > div,
.cal-wrapper iframe {
    width: 100% !important;
    min-height: calc(100vh - 96px) !important;
    border: 0 !important;
}