#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.embedsocial-hashtag {
  margin-top: 20px;
  width: 80vw;
  overflow: hidden;
}

.embedsocial-wrapper {
  overflow: hidden;
  margin-top: -100px;
}

@media (max-width: 1080px) {
  .embedsocial-wrapper {
    margin-top: -130px;
  }
}

@media (max-width: 1030px) {
  .embedsocial-wrapper {
    margin-top: -150px;
  }
}

@media (max-width: 988px) {
  .embedsocial-wrapper {
    margin-top: -160px;
  }
}

.feed-powered-by-es{
  display: none !important;
}

@media (max-width: 960px) {
  .embedsocial-hashtag {
    margin-top: 40px;
  }
}

